body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight:bold;
}

/* Headings */
.big-heading{
  color: white; /* #fff = white */
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  color:#fff;
  background-color: #ff4c68;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar */

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item{
  font-weight: lighter;
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section */

#title .container-fluid{ /* in the specific section, OVERWRITE padding */
  padding: 3% 15%;
  text-align: left;
}

/* Download Button */

.download-button{
  margin: 5% 3% 5% 0;
  border-radius: 5px;
}

/* Title Image */

.title-image{
  width: 35%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* Features Section */

#features{
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}

.features-icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover{
  color: #ff4c68;
}

.features-detail{
  color: #8f8f8f;
}

/* Testimonials Section: slideing contents with both arrows */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%; /* make image circular */
  margin: 20px;
}

/* carousel arrows不被padding */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-detail{
  color: #8f8f8f;
}

.pricing-column{
  padding: 3% 2%;
}

/* Call to Action Section  */

.cta-heading{
  font-size: 3rem;
}

/* Footer Section */

.social-icon{
  margin: 0 1% 3%;
}

.copyright-detail{
  color: #8f8f8f;
}

/* When less than DESKTOP size, centering title and rerotate title image and centering */

@media (max-width:1028px) {
  #title .container-fluid{
    text-align: center;
  }

  .title-image{
    width:100%; /*重新调整宽度*/
    position: static; /*放回html flow*/
    transform: rotate(0);
  }

}
